.backgrnd{
    height: 100vh;
    width:100%;
    overflow: hidden;
    position: relative;
}
.time{
    position: absolute;
    z-index: 2;
    font-size: 120px;
    color:white;
    left:50%;
    transform: translateX(-50%);
}
.message{
    position: absolute;
    z-index: 2;
    color:white;
    left:50%;
    transform: translateX(-50%);
    top:60%;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    
}
.input{
    position: absolute;
    z-index: 2;
    color:white;
    left:50%;
    transform: translateX(-50%);
    top:80%;
    height:55px;
    background-color: transparent;
    border:0px;
    border-bottom: 2px solid white;
    width:50%;
    font-size: 30px;
    text-align: center;
}
.input:focus {
    outline:none;
}
.vis{
    visibility: hidden;
    /* margin-top: 40px; */
}
.greet{
    position: absolute;
    z-index: 2;
    color:white;
    left:50%;
    transform: translateX(-50%);
    top:48%;
}

.lbl{
    font-size: 30px;
    margin-top:-20px;
}
.todo{
    position: absolute;
    z-index: 2;
    color:white;
    left:50%;
    transform: translateX(-50%);
    top:65%;
    height:55px;
    display:flex;
    text-align: center;
    font-size: 25px;
}
.tick{
    width: 30px; 
    height: 30px;
}
.todo i{
    font-size: 30px;
    margin-left:20px;
    /* margin-top:-20px; */
    
    /* color:red; */
}